{% extends "public/templates/pt.html" %}

{% block title %} About {% endblock %}

{% block main %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


<div id="mainBody" class="container text-center">
    <!-- {% for key, value in variable.items() %} -->
    <!--  <div class="col"> -->
    {% for i in value.keys() %}


   

     
      <ul id="results">


      <div class="card h-0 result-bg">
        <!--   <img src={{img_url[i]}} width="500" height="400" class="card-img-top" alt="..."> -->

        <div class="card-body">
          <h1 class="card-title">{{i}}</h1>
          <h3>
            <p class="card-text">Reviews: {{reviews[i]}}
          </h3>

          <h3>
            <p class="card-text">Ratings: {{ratings[i]}}
          </h3>

          <h3>
            <p class="card-text">Address: {{address[i]}}
          </h3>

          <h3>
            <p class="card-text">Phone Number: {{phone[i]}}
          </h3>

          <!--  <p class="card-text">Image Url: {{img_url[i]}}</p> -->
        </div>

      </div>
    </ul>
    {% endfor %}
  </div>
   


  </div>


  <!--    <h3>testes</h3>
              <h2>test</h2> 
              {% endfor %} -->
</div>




</div>
</div>
</div>

{% endblock %}