{% extends "public/templates/public_templates.html "%}

{% block title%} New Search {% endblock %}

{% block main %}

<input type="submit" name="btn" value="Save">
<input type="submit" name="btn" value="Cancel">

<!-- <h1>Register</h1>
<form action="{{ url_for('rest') }}" method="post">
    {{ register_form.username }}
    {{ register_form.password }}
    {{ register_form.email }}
</form>

<h1>Login</h1>
<form action="{{ url_for('loc') }}" method="post">
    {{ login_form.username }}
    {{ login_form.password }}
</form>
-->

        </div>
    </div>
</div>

{% endblock %}