a:hover,
a:active {
  text-decoration: none;
}

input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}

.col-xs-1 {
  padding: 0;
}

h1 {
  font-family: "Arvo", sans-serif;
  color: #e35865;
}

header.container-fluid {
  margin: 0;
  background-color: #39404a;
  box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.4);
  height: 100vh;
  min-height: 150px;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 0 50px;
}

input {
  padding: 0;
  border-radius: 0;
  border: none;
  font-size: 20px;
  color: #bbb;
  background: none;
  letter-spacing: 1px;
  word-spacing: 10px;
  font-family: "Arvo", sans-serif;
  padding: 0;
  line-height: 25px;
}

#searchBox {
  padding-top: 40vh;
}

button {
  background: none;
  border: none;
}

.form {
  padding: 10px 0;
  padding-right: 15px;
  border: 3px solid #e35865;
}

.form.col-xs-12 {
  padding-left: 0;
}

.glyphicon {
  color: #e35865;
  font-size: 20px;
  line-height: 25px;
}

.glyphicon-search {
  cursor: pointer;
}

.glyphicon-search:hover {
}

.bar {
  vertical-align: super;
  font-weight: 700;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

li:hover {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1);
}

::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #bbb;
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbb;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbb;
  opacity: 1;
}

#mainBody {
  font-family: "Montserrat", sans-serif;
}
