body{
    
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%,  rgba(0,212,255,1)  100%);
}

.navbar-custom { 
    background-color: lightgreen; 
} 

.result-bg {
    background: none;
    border-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}



