
  {% extends "public/templates/public_templates.html" %}
  
  {% block title %} About {% endblock %}
  
  {% block main %}
  
  <div class="container"></div>
      <div class="row">
          <div class="col">
  
  
              <div class="bookList">
  
               <!-- {% for key, value in variable.items() %} -->
               <!--  <div class="col"> -->
                  {% for i in value.keys() %}
                  
                 
                  
                  <div class="book">
                    <img src={{img_url[i]}} width="300" height="170" class="card-img-top" alt="...">

  
                    <div class="body">
                      <h5 class="card-title">{{i}}</h5>
                      <p class="card-text">Reviews: {{reviews[i]}}</p>
                      <p class="card-text">Ratings: {{ratings[i]}}</p>
                      <p class="card-text">Address: {{address[i]}}</p>
                      <p class="card-text">Phone Number: {{phone[i]}}</p>
                    <!--  <p class="card-text">Image Url: {{img_url[i]}}</p> -->
                    </div>
                  
                  </div>
                 
                  {% endfor %}
  
                </div>
  
  
        <!--    <h1>testes</h1>
                <h2>test</h2> 
                {% endfor %} -->
                </div>  
                
                 
          </div>
      </div>
  </div>
  
  {% endblock %}